@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Karla:ital,wght@0,300;0,600;1,400&display=swap');

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 1.5rem;
  padding: 0.2rem;
}

nav a {
  font-size: 1.5rem;
  padding-right: 1.5rem;
  text-decoration: none;
}
